{% extends 'main/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'main/friends.css' %}">
{% endblock %}
{% block content %}
    <div class='friends'>
      <div class='top-main'>
        <h1>{{ profile.user }}, here your cool friends!</h1>
      </div>
      <div class="friens-list">
          {% for friend in profile.get_friends %}
            <div class="friend-card">
                <div class="card-img">
                    <img src="{% static friend.profile.photo %}" class="friends-logo">
                </div>
                <div class="card-name">
                    <h2>{{friend}}</h2>
                    <h2>{{friend.profile.levels}}</h2>
                </div>
                <div class="card-challenges">
                    <div class="challenge-card">
                        <h4>Challenge 0</h4>
                    </div>
                    <div class="challenge-card">
                        <h4>Challenge 1</h4>
                    </div>
                    <div class="challenge-card">
                        <h4>Challenge 2</h4>
                    </div>
                </div>
            </div>
          {% endfor %}
      </diV>
    </div>
    <div class="all-users">
      <div class='top-main'>
        <h1>don't be a log, find yourself a friend!</h1>
      </div>
      <div class="users-list">
        <div class="find_friend">
          <input type="text" placeholder="your friend looks like frog?">
          <input type="submit" value="X">
        </div>
          {% for user in profile.get_not_user %}
            <div class="users">
                <div class="wrapper">
                    <div class="userss-text">
                        <img src="{% static user.photo %}">
                    </div>
                    <div class="userss-text">
                        <span>{{user}}</span>
                    </div>
                </div>
                <div class="userss-text">
                    <input type="submit" value="Add">
                </div>
            </div>
          {% endfor %}
      </div>
    </div>
  </div>

{% endblock %}